*
    font-family: 'Poppins', sans-serif
    margin: 0
    padding: 0
    color: #000

.container
    width: 1140px
    margin: 0 auto
    padding: 0

.divider
    width: 60px
    height: 3px
    background-color: #FFA501
    margin: 0 auto
    margin-bottom: 50px
    margin-top: 5px
   

@import 'base/variable'
@import 'base/mixins'



@import 'blocks/promo'
@import 'blocks/button'
@import 'blocks/sidepanel'
@import 'blocks/_menu'
@import 'blocks/_skills'
@import 'blocks/_title'
@import 'blocks/about'
@import 'blocks/_use'
@import 'blocks/portfolio'
@import 'blocks/_contacts'